<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Assignments</title>
    <head>
    <body>
    <p>Python 1006 Assignments: </p>
    <p></p>
    <p>1: Homework 2 </p>
    <p> ~ Learned fundamental structure and functions through the creation 
    of a basic name program and functions to manipulate lists. </p>
    <p>2: Homework 3</p>
    <p> ~ Learned how to work with datasets by writing useful functions
    for analyzing data on human breast cancer tissue. </p>
    <p>3: Homework 4:</p>
    <p> ~Learned object oriented programming through the modeling of a class.</p>
    <p>4: Midterm </p>
    <p>~ Learned to work with and manipulate .ppm images. My personal favorite. </p>
    <p>5: Homework 5</p>
    <p>~Continued our work with datasets to implement the nearest neighbor algorithm and 
    apply seaborn and pandas on the human breast 
    cancer tissue data.</p>
    <p>6: Final</p>
    <p> Completed our own website!</p>
    <p></p>
    <a href = "/"> Return to the Home Page</a>
    </body>
</html>


