<!DOCTYPE html>
<html>
    <head>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
    <head>
    <body>
     
    <h2>My Classes </h2>
    
    <table>
      <tr>
        <th>Number</th>
        <th>Class</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Advanced Programming</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Intro to Python</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Fundamentals of Computer Systems</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Contemporary Civilization</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Alternative Energy Resources</td>
      </tr>
     
    </table>
    <a href = "/"> Return to the Home Page</a>
    </body>
</html>

