<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Welcome! </p>
    <p>Name: Emily Rooney </p>
    <img src="/static/images/PhotoOfMe.jpg" width="360"  alt="Me!">
    <p>Year: Sophomore</p>
    <p>Major: Computer Science</p>
    <p>Minors: IE and Architecture</p>
    <a href = "/assignments"> Visit assignments page</a>
    <p></p>
    <a href = "/classes"> Visit classes page</a>
    <p></p>
    <a href = "https://www.google.com"> Visit my favorite website, google!</a>
    </body>
</html>
